/* BANNER */
.principal__banner{
    width: 100%;
}

/* SECCIONES */

/*contendedor de titlo y elemento*/
.main__section{
    display: grid;
    grid-template-rows: 33px auto;
    margin: 25px;

}

.section__title{
    /* padding-left: 40px; */
    margin: 0;

}

/* contenedor de los elementos */
.section__article{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

.article__figure:hover{
    border: 2px solid white;
    box-shadow: 1px  1px 10px;
    border-radius: 0px 0px 5px 5px;
    /* Para que se no se mueva el contenedor del abajo  */
    margin-bottom: -5px;
    margin-left: -5px; 

}
/* foto y texto */
.article__figure{
    padding: 0;
    margin: 0;
    margin-right: 5px;
    width: 350px;

    display: flex;
    flex-direction: column;
}

.figure__img{
    width: 100%;
}

main{
    padding-bottom: 1px;
}

.figure__title{
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: -5px;
    padding: 0;
    border-radius: 0px 0px 3px 3px;
}

.main--title{
    text-align: center;
}
