.main__section{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    justify-content: center;

    background-color: black;
    color: white;
    border-bottom: 2px solid rgb(43, 43, 43);
    box-shadow: -1px -1px 10px;

}
/* rgb(43, 43, 43) */

.section__article{
    padding: 40px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    
}

.article__title{
    font-size: 50px;
}

.article__subtitle{
    font-size: 20px;
}

.article__link{
    color: #8b8bff;
    text-decoration: underline;
}

.article__link:hover{
    color: #FF331F;
}