.main__pelicula{
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    /* width: 100%; */
    /* height: 60%; */
    /* padding: 90px; */
    /* margin-top: 100px; */
    /* position: relative; */
    color: white;
    text-shadow: 1px 2px 1px black;

    background-repeat: no-repeat;
    background-position: center;
    padding: 2%;
    height: auto;
}

.main__pelicula__logo{
    width: 40%;
}

.main__figure__lists{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.main__figure__lists>li{
    margin-left: 20px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;

}

.main__figure__summary{

    padding: 5px;
    background-color: black;
    border-radius: 10px;
}

.main__figure__reparto--title{
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    width: auto;
}

.main__pelicula__back{
    width: 100%;
    position: absolute;
}

.main__pelicula__boton{
    display: flex;
    flex-direction: row;
}

.boton__pelicula{
    border: 1px solid black;
    /* width: 50px; */
    height: 50px;
    /* font-size: 10px; */
    background-color: black;
    border-radius: 10%;
    border-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 15px 0px;
    padding: 10px;
}

a{
    color: white;
}