.main__pelicula{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    padding: 90px;
    position: relative;
    color: white;
    text-shadow: 1px 2px 1px black;
}

.main__figure__lists{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main__figure__lists>li{
    padding-left: 20px;
}

.main__pelicula__back{
    width: 100%;
    position: absolute;
}
.main__pelicula__boton{
    display: flex;
    flex-direction: row;
}

.boton__pelicula{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: black;
    border-radius: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 15px 0px;

}

a{
    color: white;
}