/* BANNER */
.principal__banner{
    width: 100%;
}

/* SECCIONES */

/*contendedor de titlo y elemento*/
.main__section{
    display: grid;
    grid-template-rows: 33px auto;
    margin: 25px;

}

.section__title{
    /* padding-left: 40px; */
    margin: 0;

}

/* contenedor de los elementos */
.section__article{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.article__figure:hover{
    border: 2px solid white;
    box-shadow: 1px  1px 10px;
    border-radius: 0px 0px 5px 5px; 
}

.article__figure{
    padding: 0;
    margin: 0;
    margin-right: 5px;
    width: 18%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}

.figure__img{
    width: 100%;
}

.figure__title{
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: -5px;
    padding: 0;
    border-radius: 0px 0px 5px 5px;
}

